<!--<button (click)="animate()">Animate</button>-->
<!--<button (click)="boxState = 'special'">Set special state</button>-->
<!--<button (click)="visible = !visible">Toggle Visibility</button>-->

<!--<hr>-->

<div class="wrap">
<!--  <div-->
<!--    class="box"-->
<!--    [@box]="boxState"-->
<!--    (@box.start)="animationStarted($event)"-->
<!--    (@box.done)="animationDone($event)"-->
<!--    *ngIf="visible"-->
<!--  >-->
<!--    <h4>{{boxState | uppercase}}</h4>-->
<!--  </div>-->


  <app-animate></app-animate>
</div>


